#waybar {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 16px;
}

#window {
	padding: 0px 10px 0px 10px;
	color: #dcd7ba;
}

window#waybar {
	box-shadow: none;
	text-shadow: none;
	transition-duration: 0s;
	color: #dcd7ba;
	background: #16161D;
} 

#tags {
	margin: 0 5px;
	color: #dcd7ba;
}

#tags button {
	padding: 0px 11px 0px 11px; 
	color: #dcd7ba;
	border: none;
	border-radius: 0px;
	min-width: 10px;
	background-color: transparent;
}

#tags button.visible {
	color: #dcd7ba;
	background: rgba(255, 255, 255, 0.1);
}

#tags button.focused {
	color: #dcd7ba;
	background: rgba(255, 255, 255, 0.1);
}

#tags button.urgent {
    background-color: #a96d1f;
    color: white;
}

#tags button:hover {
	box-shadow: inherit;
	border: none;
	border-radius: 0px;
	background: rgba(255, 255, 255, 0.212);
	color: #dcd7ba;
}

#pulseaudio {
	color: #dcd7ba;
}

#pulseaudio.muted {
	color: #E5E5E5;
}

#pulseaudio:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

#custom-recorder {
	font-size: 18px;
	margin: 2px 7px 0px 7px;
	color:#ee2e24;
}

#tray,
#mode,
#cpu,
#memory,
#battery,
#pulseaudio {
	padding: 0px 8px 0px 5px;
	margin: 0px 5px 0px 5px;
	color: #dcd7ba;
}
